@charset "utf-8";
/* CSS Document */
body,div,ul,li,a,p,span,form,input,table,tbody,tr,td,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
img{border:none;}
input{outline:none;}
body{font-family:Arial,"微软雅黑","宋体";}
ul,li{list-style:none;}
body {
	padding:0px;
	margin:0px;
	background-image: url(../images/headbg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-color:#f7f7f7;
	font-family: "微软雅黑", "黑体";
	font-size: 14px;
	color:#fff;
}
a{
	text-decoration:none;
	color:#fff;
	/*IE6、IE7*/
	+noFocusLine: expression(this.hidefocus=true);
	/*Firefox/Chrome/Opera*/
	outline:none;
	}
:focus { outline:none; } /*取消超链接的虚线框和表单项的黄色边框*/
textarea { resize:none; overflow:hidden; }/*取消下拉框和拖动改变大小*/
a:hover{
	color:#5489d2;
	}
.bodycontent{
	margin:0 auto;
	width: 950px;
	min-height:700px;
	}
.btn{
	cursor:pointer;
	height:41px;
	border:none;
	background-color:#5489d2;
	color:#fff;
	font-size:18px;
	font-family:"微软雅黑", "黑体";
	}
.btn:hover{
	background-color:#4781d0;
	}
.denglu{
	font-size:18px;
	background-image: url(../images/fenge.png);
	background-repeat: no-repeat;
	background-position: 450px 0;
	height:33px;
	padding-top:8px;
	}
.typewrap{
	margin-top:90px;
	}
.typewrap2{
	float:left;
	margin-right:36px;
	margin-left:36px;
	cursor:pointer;
	background-image:url(../images/button_2.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	}
.type{
	width:116px;
	height:130px;
	font-size:18px;
	letter-spacing:5px;
	}
.type:hover{
	background:url(../images/button_3.png) no-repeat;
	}
.type img{
	margin-top:28px;
	}
.product{
	width:920px;
	height:85px;
	border:1px solid #e1e1e1;
	margin-top:15px;
	background-color:#fff;
	padding:15px;
	}
.product a{
	color:#282828;
	margin-right:30px;
	}
.product a:hover{
	color:#5489d2;
	}
.sx{
	border:1px solid #e1e1e1;
	width:170px;
	height:25px;
	margin-left:10px;
	margin-right:25px;
	padding:5px;
	font-family:"微软雅黑", "黑体";
	font-size:14px;
	}
.producthead{
	float:right; line-height:40px;
	}
.producthead a{
	color:#282828;
	padding-left:20px;
	padding-right:10px;
	background:url(../images/down1.png) right center no-repeat;
	}
.producthead a:hover{
	color:#5489d2;
	background:url(../images/down2.png) right center no-repeat;
	}
.productup{
	width:922px;
	min-height:50px;
	background:url(../images/bglist.png) no-repeat;
	padding:15px;
	}
.container{
	width:880px;
	height:0px;
	overflow:hidden;
	background-image:url(../images/containerbg.png);
	margin-top:65px;
	margin-left:15px;
	clear:both;
}
.look{
	width:86px;
	height:28px;
	float:right;
	background-color:#5489d2;;
	margin-top:10px;
	margin-right:10px;
	font-weight:normal;
	font-size:14px;
	color:#fff;
	cursor:pointer;
	text-align:center;
	line-height:28px;
	}
.look:hover{
	background-color:#4781d0;
	}
.productdown{
	width:920px;
	height:50px;
	border:1px solid #e1e1e1;
	border-top:none;
	margin-top:-20px;
	margin-bottom:15px;
	background-color:#fff;
	padding:15px;
	}