@charset "utf-8";
/* CSS Document */
body,div,ul,li,a,p,span,form,input,table,tbody,tr,td,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
img{border:none;}
input{outline:none;}
body{font-family:Arial,"微软雅黑","宋体";}
ul,li{list-style:none;}
body {
	padding:0px;
	margin:0px;
	background-color:#f7f7f7;
	font-family: "微软雅黑", "黑体";
	font-size: 14px;
	color:#fff;
}
a{
	text-decoration:none;
	color:#fff;
	/*IE6、IE7*/
	+noFocusLine: expression(this.hidefocus=true);
	/*Firefox/Chrome/Opera*/
	outline:none;
	}
:focus { outline:none; } /*取消超链接的虚线框和表单项的黄色边框*/
textarea { resize:none; overflow:hidden; }/*取消下拉框和拖动改变大小*/
a:hover{
	color:#5489d2;
	}
.bodycontent{
	margin:0 auto;
	width: 950px;
	min-height:700px;
	}
.btn{
	cursor:pointer;
	height:41px;
	border:none;
	background-color:#619bed;
	color:#fff;
	font-size:16px;
	font-family:"微软雅黑", "黑体";
	}
.btn:hover{
	background-color:#5589d2;
	}
.denglu{
	font-size:12px;
	margin:0 auto;
	width:850px;
	text-align:right;
	padding-top:2px;
	}
.denglu a{
	color:#fff;
	}
.denglu a:hover{
	color:#fbb03f;
	}
.typewrap{
	margin-top:30px;
	}
.typewrap2{
	float:left;
	margin-right:15px;
	margin-left:15px;
	cursor:pointer;
	background-image:url(../images/button_2.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	}
.typewrap2:hover{
	background-image:none;
	}
.type{
	width:85px;
	height:86px;
	font-size:18px;
	}
.type:hover{
	background:url(../images/button_3.png) left top no-repeat;
	}
.type img{
	margin-top:25px;
	margin-bottom:40px;
	}
.product{
	width:920px;
	height:70px;
	border:1px solid #e1e1e1;
	margin-top:15px;
	background-color:#fff;
	padding:15px;
	}
.product a{
	color:#282828;
	margin-right:30px;
	}
.product a:hover{
	color:#5489d2;
	}
.agency{
	color:#282828;
	}
.agency:hover{
	color:#5489d2;
	}
.sx{
	border:1px solid #e1e1e1;
	width:170px;
	height:25px;
	margin-left:10px;
	margin-right:25px;
	padding:5px;
	font-family:"微软雅黑", "黑体";
	font-size:14px;
	}
.producthead{
	float:right; line-height:40px;
	}
.producthead a{
	color:#282828;
	padding-left:20px;
	padding-right:10px;
	background:url(../images/down1.png) right center no-repeat;
	}
.producthead a:hover{
	color:#5489d2;
	background:url(../images/down2.png) right center no-repeat;
	}
.productup{
	width:922px;
	background:url(../images/bglist.png) no-repeat;
	padding:15px;
	}
.container{
	width:880px;
	height:0px;
	overflow:hidden;
	background:url(../images/containerbg.png) no-repeat;
	background-color:#e9e9e9;
	margin-top:65px;
	margin-left:15px;
	clear:both;
}
.look{
	width:86px;
	height:28px;
	float:right;
	background-color:#609bec;
	margin-top:10px;
	margin-right:10px;
	font-weight:normal;
	font-size:14px;
	color:#fff;
	cursor:pointer;
	text-align:center;
	line-height:28px;
	}
.look:hover{
	background-color:#5489d2;
	}
.productdown{
	width:920px;
	height:30px;
	border:1px solid #e1e1e1;
	border-top:1px solid #f2f2f2;
	margin-top:-20px;
	margin-bottom:15px;
	background-color:#fff;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	}
	
.container .mytabs{
    position:relative;
	width:600px;
	float:left;
}
.container .mytabs ul.tab_title{
    height:35px;
	padding-left:10px;
	padding-top:25px;
    font-size:14px;
	font-family:"微软雅黑", "黑体";
	border-bottom:1px solid #b9b9b9;
}
.container .mytabs ul.tab_title li{
    float:left;
	height:33px;
    position:relative;   
    cursor:pointer;  
    margin-right:20px;
	margin-left:20px;
}
.container .mytabs ul li.one{
	border-bottom:3px solid #5489d2;

}
  
.container .mytabs ul li.two{

}
  
.container .mytabs .content { 
	margin-left:20px;
	margin-top:17px;
    font-size:12px;
    width:600px; 
    height:auto;
    position:absolute;
    top:60px;
    z-index:1;
	line-height:22px;
}
.apply{
	width:250px;
	float:right;
	text-align:center;
	margin-top:80px;
	font-size:18px;
	}
.apply a{
	background-color:#609bec;
	padding:6px;
	padding-left:45px;
	padding-right:45px;
	}
.apply a:hover{
	background-color:#5489d2;
	color:#fff;
	}
.apply2{
	font-size:14px;
	width:86px;
	float:right;
	text-align:center;
	margin-top:-35px;
	margin-right:25px;
	position:relative;
	z-index:10;
	}
.apply2 a{
	background-color:#609bec;
	padding:6px;
	padding-left:15px;
	padding-right:15px;
	}
.apply2 a:hover{
	background-color:#5489d2;
	color:#fff;
	}
.go-top {
	position: fixed;
	bottom:35px;
	left:50%;
	margin-left:512px;
	display: none;
}
.feedback{
	width:46px;
	height:46px;
	background-image:url(../images/feedback.png);
	}
.feedback:hover{
	background-image:url(../images/feedback1.png);
	}
.gotop{
	width:46px;
	height:46px;
	background-image:url(../images/top.png);
	cursor:pointer;
	}
.gotop:hover{
	background-image:url(../images/top1.png);
	}
.pagenumber{
	text-align:right;
	margin-top:30px;
	}
.number{
	color:#282828;
	border:1px solid #999;
	padding:15px;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:10px;
	}
.number:hover{
	border:1px solid #5489d2;
	}
.numberclick{
	color:#fff;
	background-color:#5489d2;
	border:1px solid #5489d2;
	padding:15px;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:10px;
	}
.numberclick:hover{
	color:#fff;
	}
	
	
.inpagenumber{
	text-align:center;
	margin-top:20px;
	}
.innumber{
	color:#282828;
	padding:5px;
	margin-left:10px;
	}
.innumber:hover{
	color:#5489d2;
	text-decoration:underline;
	}
.innumberclick{
	color:#5489d2;
	text-decoration:underline;
	padding:5px;
	margin-left:10px;
	}
.footer{
	text-align:right;
	margin-top:60px;
	color:#999;
	padding-bottom:50px;
	}
.footer a{
	color:#999;
	margin-left:15px;
	}
.footer a:hover{
	text-decoration:underline;
	}
.footer1{
	text-align:right;
	color:#fff;
	position:fixed;
	bottom:10px;
	margin-left:410px;
	}
.footer1 a{
	color:#fff;
	margin-left:15px;
	}
.footer1 a:hover{
	text-decoration:underline;
	}
.inputtitle{
	text-align:left;
	margin-left:20px;
	font-weight:bold;
	color:#000;
	width:155px;
	float:left;
	line-height:35px;
	}
.inputtitle1{
	text-align:right;
	font-weight:bold;
	width:155px;
	float:left;
	line-height:35px;
	}
.inputtext{
	width:250px;
	height:35px;
	border:1px solid #999;
	padding-left:5px;
	background:transparent;
	-webkit-appearance: none; /*for Webkit browsers*/
	}
.agrncyhead{
	background-image:url(../images/agencybg.jpg);
	margin-top:15px;
	height:277px;
	width:950px;
	position:relative;
	}
.headpic{
	width:128px;
	height:128px;
	background-image:url(../images/headpicbg.jpg);
	padding:8px;
	position:absolute;
	bottom:0px;
	left:10px;
	}
.intro{
	width:918px;
	height:135px;
	border:1px solid #e1e1e1;
	border-top:none;
	background-color:#fff;
	padding:15px;
	line-height:25px;
	margin-bottom:15px;
	}
.agrncyleft{
	float:left;
	width:600px;
	}
.agrncyright{
	float:right;
	width:305px;
	}
.changewith{
	width:598px;
	}
.agencytype{
	border:1px solid #e1e1e1;
	width:180px;
	background-color:#FFF;
	overflow:hidden;
	position:absolute;
	margin-left:69px;
	}
.agencytype li{
	padding:5px;
	color:#282828;
	}
.agencytype li:hover{
	background-color:#5489d2;
	color:#fff;
	}
	/*login*/
.regbg{
	background-image:url(../images/regbg.png);
	width:910px;
	height:527px;
	}
.reghref{
	font-size:18px;
	padding-left:40px;
	border-bottom:1px solid #e1e1e1;
	width:861px;
	margin-left:4px;
	height:35px;
	padding-top:20px;
	}
.reghref a{
	color:#282828;
	padding-top:20px;
	padding-bottom:10px;
	margin-right:20px;
	}
.reghref a:hover{
	border-bottom:3px solid #5489d2;
	}


.register{
	float:left;
	width:400px;
	font-size:14px;
	margin-top:40px;
	color:#282828;
	}
fieldset{border:0;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#777;}

.field-wrap{overflow:visible;}
.field-wrap legend{padding:10px;font-size:16px;font-weight:bold;margin:0 20px;text-align:center;display:none;overflow:hidden;}

.field-item{padding:10px 0;width:94%;min-height:30px;line-height:26px;clear:both;margin-bottom:5px;}
.field-item label,.field-item input,.field-item select,.field-item textarea{float:left;margin-right:10px;display:inline; }
.field-item label{line-height:30px;height:26px;width:100px;text-align:right;overflow:hidden; }
.field-item span{float:left;line-height:26px;height:26px;overflow:hidden;}
.field-item select{margin-top:3px;_margin-top:1px;}
.input-item{width:210px;height:30px;line-height:20px;padding-left:4px;border:1px solid #999;}
.select-item{height:30px;line-height:20px;padding-left:4px;border:1px solid #999;
background:transparent;
-webkit-appearance: none; /*for Webkit browsers*/
background:url(../images/select2.png) right center no-repeat;
min-width:100px;
}

.center{text-align:center;}
#message{width:500px;}
#text-counter{font-weight:bold;color:#C80000;padding:0 10px;}
#btnsubmit{float:none;width:80px;line-height:30px;height:30px;}

/* Validator */
.validator-tip{display:none;position:absolute;margin-left:20px; z-index:999;background:#f7fbff url(../form/img/msg_bg.png) 5px -143px no-repeat;font-size:12px;color:#777;padding:5px 5px 5px 26px;line-height:18px;text-align:left;overflow:hidden; border:1px solid #4c8ffc; border-radius:2px;}
.validator-tip a{font-weight:bold;padding:0 5px;cursor:pointer;color:#039;}
.tip-error{ color:#777; background:#fff7f7 url(../form/img/msg_bg.png) no-repeat; border:1px solid #ff1b03; }
.item-error{border:1px solid #ff1b03;}
.tip-error{background-position:5px 7px;}
.item-pass{border:1px solid #68ae52;}
.tip-pass{background:transparent url(../form/img/msg_bg.png) 5px -243px no-repeat;border:none;text-indent:-99999px;width:50px;}
span.security-level{float:left;margin-top:3px;width:220px;height:20px;background:transparent url(../form/img/save.jpg) left top no-repeat;overflow:hidden;}


.homehead{
	border:1px solid #e1e1e1;
	width:301px;
	height:105px;
	margin-bottom:20px;
	margin-top:20px;
	background:#fff;
	text-align:center;
	font-size:18px;
	float:left;
	margin-right:20px;
	}
.homehead:hover{
	background:#d7e2f1;
	}
.homeinf{
	border:1px solid #e1e1e1;
	width:948px;
	background-color:#FFF;
	padding-top:15px;
	}
.homedit{
	float:right;
	background-image:url(../images/edit1.png);
	width:55px;
	height:23px;
	text-align:center;
	margin-right:20px;
	}
.homedit:hover{
	background-image:url(../images/edit2.png);
	}
.homedit a{
	color:#727272;
	padding:10px 10px 11px 11px;
	}
.homedit a:hover{
	color:#5489d2;
	}
.homedit button{
	color:#727272;
	background-color: transparent;
	padding-left:10px;
	padding-right:10px;
	border:0;
	font-family:"微软雅黑", "黑体";
	margin-top:0px;
	}
.homedit button:hover{
	color:#5489d2;
	cursor:pointer;
	}
.infotitle{
	width:150px; text-align:right; float:left; margin-right:40px;
	}
.infocontent{
	color:#7b7b7b;
	}
.lj{
	color:#619bed;
	}
.lj:hover{
	color:#5589d2;
	}
.orderbox{
	height:47px;
	}
.orderbox li{
	float:left;
	width:73px;
	height:47px;
	}
.orderbox li a{
	position:absolute;
	width:73px;
	height:47px;
	}
.infoedit{
	width:150px; border:1px solid #e1e1e1; padding:5px;
	}
.abt{
	background-color:#CCC;
	margin-top:20px;
	}
.abt li{
	width:104px;
	height:40px;
	float:left;
	margin-right:8px;
	}
.abt li a{
	position:absolute;
	width:104px;
	height:32px;
	font-size:18px;
	text-align:center;
	padding-top:8px;
	color:#000;
	background-image:url(../images/abt_bg1.png);
	}
.abt li a:hover{
	color:#5489d2;
	background-image:url(../images/abt_bg2.png);
	}
.abthead{
	width:890px;
	background-color:#FFF;
	border:1px solid #e1e1e1;
	margin-top:-1px;
	padding:30px;
	font-size:14px;
	color:#3d3d3d;
	line-height:25px;
	}
.abthead a{
	color:#5489d2;
	}
.abthead a:hover{
	text-decoration:underline;
	}
.abthead p{
	margin-bottom:25px;
	}
.color{
	color:#5489d2;
	}
.menu{
	margin-top:17px;
	}
.menu a{
	font-size:24px;
	color:#e9e9e9;
	margin-left:25px;
	padding-bottom:23px;
	}
.menu a:hover{
	color:#fff;
	background:url(../images/menu.png) bottom center no-repeat;
	}
.menuclick{
	color:#fff;
	background:url(../images/menu.png) bottom center no-repeat;
	}
.status_btn{
	position:absolute;
	width:100px;
	height:35px;
	border:1px solid #a4a4a4;
	color:#282828;
	background-color:#e9e9e9;
	cursor:pointer;
	}
.status_btn:hover{
	border:1px solid #91afd9;
	color:#91afd9;
	background-color:#e9e9e9;
	cursor:pointer;
	}
.status_btnclick{
	position:absolute;
	width:100px;
	height:35px;
	border:1px solid #91afd9;
	color:#fff;
	background-color:#91afd9;
	}