.onLoad
{
    background:#E9FFEB url(../images/onLoad.gif) no-repeat 3px 3px;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
} 



.onCorrect{ 
	display:inline-block; 
	height:22px; 
	background:url(../images/right.png) 0px 0px no-repeat; 
	padding-left:15px; 
	margin-left:10px; 
	vertical-align:middle; 
	padding-right:5px;
	margin-top:5px;
}


.onError .onFocus p
{
	list-style-type:none;
	list-style-image:none;
	line-height : 2;
}
.onError .onFocus span
{
	color : #777;
	font-size : 12px;
}


.onFocus{ 
	width:246px; 
	height:20px; 
	padding-top:3px; 
	left:0px;top:0px;
	padding:0px;
	margin:0px;
}

.onFocus_top
{
	display:block;
	width:246px;
	padding:5px 10px 0 40px;
	min-height:21px;
	_height:10px;
	background:url(../images/tip.png) 10px 4px no-repeat;
	font-size:12px;
	color:#777;
}
.onFocus_bot
{
	display:block;
	width:246px;
	height:5px;
	overflow:hidden;
}



.onError
{ 
	width:246px; 
	height:20px; 
	padding-top:3px; 
	left:0px;top:0px;
	padding:0px;
	margin:0px;
}

.onError_top
{ 
	display:block; 
	width:246px; 
	padding:5px 10px 0 40px;
	min-height:21px;
	_height:10px; 
	background:url(../images/error.png) 10px 4px no-repeat;
	font-size:12px;
	color:#777;
}
.onError_bot
{ 
	display:block; 
	width:246px; 
	height:5px; 
	overflow:hidden;
}

.input_public
{
	border:#999 1px solid;font-size:12px; height:30px;padding-left:4px; width:210px;
	position:relative; bottom:4px;
}

.input_error {
	
	border-color:#D28C8C;
}

.input_focus {
    border-color:#59a4f7;
}
.input_correct {
	color:#444
}