@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Firmloan3</title>
    <link rel="stylesheet" type="text/css" href="~/content/css/css.css">
<style type="text/css">
body {
	background-image:none;
	background-color:#FFF;
	color:#282828;
}
</style>
</head>
<body>
<div style="width:650px; text-align:center; margin-top:30px; margin-bottom:30px;"><img src="../content/images/apply31.png" width="573" height="44" /></div>
<div style=" background-color:#f7f7f7; padding-left:190px; padding-top:35px; height:600px;">
<br /><br /><br /><br /><br />
恭喜您<br />
<span style="color:#5489d2; font-size:30px;">提交成功！</span><br />
信贷员已经收到您的申请，会在一个工作日内联系您。<br />
如遇到困难，请及时致电客服400-0000-000
</div>
</body>
</html>
