@model IEnumerable<TTDWeb.Models.CustomModel>

@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
<link rel="stylesheet" type="text/css" href="~/content/css/css.css">
<script type="text/javascript" src="~/content/js/jquery1.3.2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var show_per_page = 3;
        var number_of_items = $('.content').children().size();
        var number_of_pages = Math.ceil(number_of_items / show_per_page);
        $('.current_page').val(0);
        $('.show_per_page').val(show_per_page);
        var navigation_html = '<a class="previous_link" href="javascript:previous();">上一页</a>';
        var current_link = 0;
        while (number_of_pages > current_link) {
            navigation_html += '<a class="page_link" href="javascript:go_to_page(' + current_link + ')" longdesc="' + current_link + '">' + (current_link + 1) + '</a>';
            current_link++;
        }
        navigation_html += '<a class="next_link" href="javascript:next();">下一页</a>';
        $('.page_navigation').html(navigation_html);
        $('.page_navigation .page_link:first').addClass('active_page');
        $('.content').children().css('display', 'none');
        $('.content').children().slice(0, show_per_page).css('display', 'block');
    });
    function previous() {
        new_page = parseInt($('.current_page').val()) - 1;
        if ($('.active_page').prev('.page_link').length == true) {
            go_to_page(new_page);
        }
    }
    function next() {
        new_page = parseInt($('.current_page').val()) + 1;
        //if there is an item after the current active link run the function
        if ($('.active_page').next('.page_link').length == true) {
            go_to_page(new_page);
        }
    }
    function go_to_page(page_num) {
        var show_per_page = parseInt($('.show_per_page').val());
        start_from = page_num * show_per_page;
        end_on = start_from + show_per_page;
        $('.content').children().css('display', 'none').slice(start_from, end_on).css('display', 'block');
        $('.page_link[longdesc=' + page_num + ']').addClass('active_page').siblings('.active_page').removeClass('active_page');
        $('.current_page').val(page_num);
    }
</script>
<style type="text/css">
body{
	color:#282828;
    background-color:#e9e9e9;
	}
.page_navigation a{
	padding:3px;
	margin:2px;
	color:#282828;
	text-decoration:none;
    background-color:#e9e9e9;
}
.page_navigation a:hover{
	padding:3px;
	margin:2px;
	color:#609bec;
	text-decoration:underline;
}
.active_page{
	padding:3px;
	margin:2px;
	color:#609bec !important;
	text-decoration:underline !important;
}
</style>
</head>
<body>
	<input type='hidden' class='current_page' />
	<input type='hidden' class='show_per_page' />
	<div class='content' style="line-height:25px; margin-left:7px;">
         @foreach (var itemCustom in Model)
         {
                <p><strong>@itemCustom.CustomName</strong><br />
                    @itemCustom.OrganName&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @itemCustom.OrganID
                </p>
         }
	</div>
    <br />
	<div class='page_navigation'></div><br />
<br />
</body>
</html>
