@model TTDWeb.Models.PurchaseLoanStep2

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Purchaseloan2</title>
    <link rel="stylesheet" type="text/css" href="~/content/css/css.css">
<style type="text/css">
body {
	background-image:none;
	background-color:#FFF;
	color:#282828;
}
</style>
</head>
<body>
<div style="width:650px; text-align:center; margin-top:30px; margin-bottom:30px;"><img src="../content/images/apply2.png" width="573" height="44" /></div>
@using (Html.BeginForm("Purchaseloan2", "Home", FormMethod.Post))
{
    <div style=" background-color:#f7f7f7; padding-left:60px; padding-top:35px; height:600px;">
    <br />    
<div class="inputtitle" style="margin-right:20px;">您是否有信用卡：</div>@Html.RadioButtonFor(model => model.PerslCreditOwner, 0, new {@name = "PerslCreditOwner"})有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(model => model.PerslCreditOwner, 1, new {@name = "PerslCreditOwner"})没有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总信用额：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(m=>m.PerslCreditAllowance,new { placeholder="请输入数字",@class="inputtext",style="width:120px; background:url(../content/images/yuan.png) 100px center no-repeat;"})<br /><br />
<div class="inputtitle" style="margin-right:20px;">您是否有负债(信用卡)：</div>@Html.RadioButtonFor(model => model.PerslCardPaid, 0, new {@name = "PerslCardPaid"})有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(model => model.PerslCardPaid, 1, new {@name = "PerslCardPaid"})没有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;负债数额：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(m=>m.PerslCreditDue,new { placeholder="请输入数字",@class="inputtext",style="width:120px; background:url(../content/images/yuan.png) 100px center no-repeat;"})<br /><br />
<div class="inputtitle" style="margin-right:20px;">您是否有成功申请贷款：</div>@Html.RadioButtonFor(model => model.PerslLoanSucc, 0, new {@name = "PerslLoanSucc",style="margin-top:10px;"})有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(model => model.PerslLoanSucc, 1, new {@name = "PerslLoanSucc"})没有<br /><br />
<div class="inputtitle" style="margin-right:20px;">您是否有负债(贷款)：</div>@Html.RadioButtonFor(model => model.PerslLoan, 0, new {@name = "PerslLoan"})有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(model => model.PerslLoan, 1, new {@name = "PerslLoan"})没有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;负债数额：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(m=>m.PerslLoanDue,new { placeholder="请输入数字",@class="inputtext",style="width:120px; background:url(../content/images/yuan.png) 100px center no-repeat;"})<br /><br /><br />
<div class="inputtitle" style="margin-right:20px;">&nbsp;</div><button type="submit" class="btn" style="font-size:14px; height:35px; width:110px;">下一步</button>

</div>
}
</body>
</html>
